/* Cute Pink Lily Vertical Scroll */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Quicksand", sans-serif; 
    background-color: #ffffff; 
}

h1, h2, p {
    padding: 0;
    margin: 0;
}

main {
    height: 500vh; /* 5 sections */
    background-image: url("/long-story/Attempt\ 4\ 1080x5000.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}

section {
    position: relative;
    height: 100vh;
}

section > .content {
    position: absolute;
    width: 42vw;
    top: 25vh;
    left: 5vw;
    color: #f67280; 
    text-shadow: 1px 1px 6px rgba(0,0,0,0.3); 
}

section > .content > p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 0.5rem 0;
}

section > .instructions {
    position: absolute;
    bottom: 2vh;
    width: 42vw;
    left: 5vw;
    font-size: 1.59rem;
    color: #f7bbd7; 
    font-family: "Pacifico", cursive; 
}

#section1 p {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    color: #f67280; 
}

#section1 h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    font-family: 'Dancing Script', cursive;
    color: #f67280; 
    margin-top: 0.5rem;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 182, 193, 0.2); 
    pointer-events: none;
}

#section5 p {
    background-color: rgba(255, 240, 245, 0.6);
    padding: 0.5rem;
    border-radius: 12px;
}
